<form method="GET" action="/">
  <input
    id="authorTitle"
    type="text"
    placeholder="Search by book title or author's name"
    value="<%= query.search || '' %>"
    name="search"
  />
  <input
    id="subjectBookshelf"
    name="topic"
    type="text"
    placeholder="Search by subject or bookshelf"
    value="<%= query.topic || '' %>"
  />
  <input
    id="booksIds"
    name="ids"
    type="text"
    placeholder="Search by book id(s)"
    value="<%= query.ids || '' %>"
  />
  <div class="form-elements">
    <label for="copyright">Copyright</label>
    <input
      id="copyright"
      type="checkbox"
      name="copyright"
      value="true"
      <%= query.copyright === 'true' ? 'checked' : '' %>
    />
  </div>
  <button type="submit">Search</button>
</form>
<hr />
